@use "./variables" as *;
@use "./mixins" as *;

:root {
    font-size: 62.5%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    font-family: $fontFamily;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;

    &:visited {
        color: unset;
    }
}
.btn {
    padding: 1.2rem 2rem;
    border-radius: $borderRadius;
    color: $whiteColor;
    background-color: $primaryColor;
    border: 0;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    @include transition(transform);

    &:hover {
        transform: translateY(-1 * $translateDistance);
        box-shadow: $boxShadow;
    }
}
.col--2 {
    width: 50%;
}
.col--3 {
    width: calc(100% / 3);
}
.col--5 {
    width: 20%;
}
.col--6 {
    width: calc(100% / 6);
}

#app{
    max-width: 1021px;
    width: 100%;
    margin: 0 auto;
}