@use "./variables" as *;
@use "./mixins" as *;

:root {
    font-size: 62.5%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    font-family: $fontFamily;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;

    &:visited {
        color: unset;
    }
}
textarea,
button,
input {
    border: 0;
    outline: 0;
}

.btn {
    display: inline-block;
    padding: 1.2rem 2rem;
    line-height: 2.8rem;
    border-radius: $borderRadius;
    @include text(1.6rem, 600, $whiteColor);
    background-color: $primaryColor;
    border: 0;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    @include transition(transform);

    &:hover {
        transform: translateY(-1 * $translateDistance);
        box-shadow: $boxShadow;
    }

    &:visited{
        color: $whiteColor;
    }
}

.col--1 {
    width: 100%;
}
.col--2 {
    width: 50%;
}
.col--3 {
    width: calc(100% / 3);
}
.col--5 {
    width: 20%;
}
.col--6 {
    width: calc(100% / 6);
}
.container {
    width: 100%;
}
.header,
.footer,
.section {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
}

ion-icon {
    font-size: 1.2rem;
}

.icon-check {
    color: $greenColor;
    padding: 0.25rem;
    position: relative;
    &:before {
        content: "";
        @include positionAbsolute(0, 0, 0, 0);
        border-radius: 50%;
        background-color: currentColor;
        opacity: 0.2;
    }
}

.badge {
    @include text(1.2rem, 600, $primaryColor);
    text-transform: uppercase;
    background-color: $greyColor;
    padding: 0.4rem 1.2rem;
    border-radius: 12px;
    height: fit-content;
}

.white-bg-color {
    background-color: $whiteColor;
}
.light-grey-bg-color {
    background-color: #fafcfd;
}
.grey-bg-color {
    background-color: #f1f4f8;
}
.dark-bg-color {
    background-color: #1b2a4e;
}
.pt-20{
    padding-top: 20rem;
}
.pb-20{
    padding-bottom: 20rem;
}