@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexSpaceBetween() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin transition($property) {
    transition: $property 0.2s linear;
}
@mixin positionAbsolute($top: null, $right: null, $bottom: null, $left: null) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
@mixin text($fontSize: null, $fontWeight: null, $color: null) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $color;
}
@mixin transition($property) {
    transition: $property 0.2s linear;
}

$mobile-width: 480px;
$tablet-width: 992px;

@mixin mobile {
    @media only screen and (max-width: $mobile-width) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $tablet-width) {
        @content;
    }
}