.slider-wrapper {
    position: relative;
    width: 100%;
}
.slider {
    @include positionAbsolute(0, null, null, 0);
    @include flexCenter;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
    background-color: $whiteColor;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    user-select: none;
    overflow: hidden;
    z-index: 1;

    &-img-wrapper {
        display: inline-block;
        width: 50%;
        border-radius: $borderRadius;
        overflow: hidden;
        cursor: pointer;
        background-color: $whiteColor;
        z-index: 1;
    }
    &-img {
        display: block;
        width: 100%;
        object-fit: cover;
        border-radius: 0% 100% 15% 85% / 100% 0% 100% 0%;
        display: none;

        &.active {
            @include flexCenter;
            animation: appear 1s ease;
        }
    }

    &-content-wrapper {
        @include flexCenter;
        width: 100%;
        @include positionAbsolute(null, null, null, 50%);
        @include transition(transform);
    }

    &-content {
        position: absolute;
        display: inline-block;
        width: 50%;
        padding: 4.8rem;
        background-color: $whiteColor;

        left: 50%;
        &.display {
            left: 0;
            @include transition(left);
        }

        .section & svg {
            color: #ff5a5f;
            max-width: inherit;
            height: 6rem;
        }

        &__message {
            @include text(2rem, 400, $headingColor);
            margin-top: 5.2rem;
        }
    }
    &-direction {
        &--previous {
            @include positionAbsolute(20rem, null, null, 0);
            transform: translateX(-50%);
        }
        &--next {
            @include positionAbsolute(20rem, 0, null, null);
            transform: translateX(50%);
        }

        z-index: 3;
        @include flexCenter;
        width: 5.6rem;
        height: 5.6rem;
        border-radius: 50%;
        background-color: $primaryColor;
        cursor: pointer;

        &:active {
            opacity: 0.6;
        }

        & ion-icon {
            @include text(1.6rem, 400, $whiteColor);
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
