@font-face {
  font-family: "HKGroteskPro";
  src: url("../../assets/font/HKGroteskPro-Regular.woff2"), url("../../assets/font/HKGroteskPro-Medium.woff2");
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "HKGroteskPro", serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}
a:visited {
  color: unset;
}

textarea,
button,
input {
  border: 0;
  outline: 0;
}

p {
  line-height: 1.6;
}

.btn {
  display: inline-block;
  padding: 1.2rem 1.6rem;
  line-height: 2.8rem;
  border-radius: 6px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background-color: #335eea;
  border: 0;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1);
}
.btn:visited {
  color: #fff;
}

#app {
  overflow-x: hidden;
}

.container {
  width: 100%;
}

.header,
.footer,
.section {
  max-width: min(100% - 2rem, 1040px);
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

ion-icon {
  font-size: 1.2rem;
}

.icon-check {
  color: #42ba96;
  padding: 0.25rem;
  position: relative;
}
.icon-check:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: currentColor;
  opacity: 0.2;
}

.icon-question-wrapper {
  align-self: flex-start;
  padding: 0;
}

.icon-question {
  color: #42ba96;
  font-size: 3.2rem;
}

.badge {
  font-size: 1.2rem;
  font-weight: 600;
  color: #335eea;
  text-transform: uppercase;
  background-color: #c6d3e6;
  padding: 0.4rem 1.2rem;
  border-radius: 12px;
  height: fit-content;
}

.white-bg-color {
  background-color: #fff;
}

.light-grey-bg-color {
  background-color: #fafcfd;
}

.grey-bg-color {
  background-color: #f1f4f8;
}

.dark-bg-color {
  background-color: #1b2a4e;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-20 {
  padding-top: 20rem;
}

.pt-25 {
  padding-top: 25rem;
}

.pt-30 {
  padding-top: 30rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-20 {
  padding-bottom: 20rem;
}

.col--1 {
  width: 100%;
}

.col--2 {
  width: 50%;
}

.col--3 {
  width: 33.3333333333%;
}

.col--5 {
  width: 20%;
}

.col--6 {
  width: 16.6666666667%;
}

.gap-8 {
  gap: 8rem;
}

.border-top-bot {
  border-top: 1px solid #f3f5f9;
  border-bottom: 1px solid #f3f5f9;
}

.form-group {
  width: 100%;
  position: relative;
}
.form-input {
  width: 100%;
  border-bottom: 1px solid #c6d3e6;
  padding: 1.6rem 0 0.8rem;
  margin-bottom: 1.2rem;
  font-size: 1.7rem;
  font-weight: 400;
  color: #161c2d;
}
.form-input:focus {
  border-color: #335eea;
}
.form-input:not(:placeholder-shown) + .form-label, .form-input:focus + .form-label {
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.2s linear;
  font-size: 1.2rem;
}
.form-label {
  position: absolute;
  top: calc(50% - 1rem);
  left: 0;
  font-size: 1.7rem;
  font-weight: 400;
  color: #869ab8;
}

.section__form-wrapper {
  transition: transform 0.2s linear;
  border-radius: 6px;
  box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1);
  overflow: hidden;
}
.section__form-wrapper:hover {
  transform: translateY(-4px);
  box-shadow: 0 2rem 5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.05);
}
.section__form {
  padding: 3.2rem;
}
.section__form .form-group__btn {
  display: block;
  background-color: #42ba96;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  margin-top: 3.2rem;
  text-align: center;
}
.section__form .form-group input {
  background-color: transparent;
}
.section__form-img {
  width: 100%;
  border-radius: 0 0 500px 300%/50px;
}

.card {
  text-align: center;
}
.card-services {
  border-radius: 6px;
  background-color: #fff;
}
.card-services > div {
  padding: 4.8rem 3.2rem;
}
.card-services__pricing {
  margin-top: 3.6rem;
}
.card-services__pricing span:first-child {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 400;
  color: #161c2d;
  transform: translateY(-50%);
}
.card-services__pricing span:nth-child(2) {
  font-size: 6rem;
  font-weight: 400;
  color: #161c2d;
}
.card-services__pricing span:nth-child(3) {
  font-size: 3.2rem;
  font-weight: 400;
  color: #161c2d;
}
.card-services__pricing p:last-child {
  margin-top: 0.8rem;
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #869ab8;
}
.card-services__list {
  padding: 2.4rem 6.4rem 0;
}
.card-services__item {
  display: flex;
  gap: 2rem;
  margin-bottom: 2.4rem;
}
.card-services__item:last-child {
  margin-bottom: 0;
}
.card-services__item span {
  font-size: 1.6rem;
  font-weight: 400;
  color: #161c2d;
}
.card-services .btn {
  display: block;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 1.8rem 2.4rem;
}
.card-services--active .btn:hover {
  transform: unset;
  background-color: #2b50c7;
}
.card-services--enable div {
  padding: 4.2rem;
}
.card-services--enable .btn {
  background-color: #c6d3e6;
  color: #869ab8;
}
.card-services--enable .btn:hover {
  transform: unset;
}
.card-services--enable .card-services__description {
  margin: 10rem 0;
  font-size: 2rem;
  font-weight: 400;
  color: #c6d3e6;
}

.slider-wrapper {
  position: relative;
  width: 100%;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1);
  user-select: none;
  overflow: hidden;
  z-index: 1;
}
.slider-img-wrapper {
  display: inline-block;
  width: 50%;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  z-index: 1;
}
.slider-img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 0% 100% 15% 85%/100% 0% 100% 0%;
  display: none;
}
.slider-img.active {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: appear 1s ease;
}
.slider-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 50%;
  transition: transform 0.2s linear;
}
.slider-content {
  position: absolute;
  display: inline-block;
  width: 50%;
  padding: 4.8rem;
  background-color: #fff;
  left: 50%;
}
.slider-content.display {
  left: 0;
  transition: left 0.2s linear;
}
.section .slider-content svg {
  color: #ff5a5f;
  max-width: inherit;
  height: 6rem;
}
.slider-content__message {
  font-size: 2rem;
  font-weight: 400;
  color: #161c2d;
  margin-top: 5.2rem;
}
.slider-direction {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  background-color: #335eea;
  cursor: pointer;
}
.slider-direction--previous {
  position: absolute;
  top: 20rem;
  left: 0;
  transform: translateX(-50%);
}
.slider-direction--next {
  position: absolute;
  top: 20rem;
  right: 0;
  transform: translateX(50%);
}
.slider-direction:active {
  opacity: 0.6;
}
.slider-direction ion-icon {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: -2rem;
}
.toggle__label {
  font-size: 1.7rem;
  font-weight: 400;
  color: #869ab8;
}
.toggle-button {
  margin: 0;
  padding: 0;
  display: none;
}
.toggle-button:checked + #toggle-label-pricing {
  background-color: #335eea;
}
.toggle-button:checked + #toggle-label-pricing:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: calc(100% - 2rem);
}
.toggle #toggle-label-pricing {
  position: relative;
  width: 4rem;
  height: 2rem;
  background-color: #c6d3e6;
  margin: 1rem;
  border-radius: 1rem;
  transition: background-color 0.2s linear;
}
.toggle #toggle-label-pricing:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.2rem;
  border-radius: 50%;
  background-color: #fff;
  transition: right 0.25s ease, left 0.25s ease;
}

.typer {
  display: inline-block;
  position: relative;
  height: 3.8rem;
}
.typer-item {
  position: relative;
}
.typer-item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: #fafcfd;
  border-left: 2px solid currentColor;
  animation: typing 2s steps(10) -2s infinite alternate-reverse;
}

@keyframes typing {
  from {
    left: 0;
  }
  to {
    left: 100%;
    margin-left: 2rem;
    margin-right: -2rem;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.header__btn.btn {
  padding: 1rem 1.6rem;
}
.header > ion-icon {
  display: none;
  font-size: 4rem;
  font-weight: 400;
  color: #869ab8;
  cursor: pointer;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-main__item {
  position: relative;
  padding: 0.8rem 2.4rem;
  background-color: #fff;
}
.nav-main__item-heading {
  font-size: 1.7rem;
  font-weight: 600;
  color: #506690;
  transition: color 0.2s linear;
}
.nav-main__item-heading:hover {
  color: #335eea;
  cursor: pointer;
}
.nav-main__item-heading > ion-icon {
  display: none;
}
.nav-main__btn {
  display: none;
}
.nav-sub {
  display: none;
}
.nav-main__item:hover > .nav-sub {
  display: flex;
  width: fit-content;
  border-radius: 6px;
  box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1);
  animation: floatUp 0.25s linear;
  z-index: 1;
}
.nav-main__item:first-child:hover > .nav-sub {
  position: absolute;
  top: 100%;
  left: -200%;
}
.nav-main__item:nth-child(2):hover > .nav-sub {
  position: absolute;
  top: 100%;
  left: -300%;
}
.nav-main__item:nth-child(3):hover > .nav-sub, .nav-main__item:nth-child(4):hover > .nav-sub {
  position: absolute;
  top: 100%;
  left: -50%;
}
.nav-main__item--gradient .nav-sub {
  overflow: hidden;
}
.nav-main__item--gradient .nav-sub__item:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(51, 94, 234, 0.8), rgba(51, 94, 234, 0.8)), url("https://landkit.goodthemes.co/assets/img/photos/photo-3.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
}
.nav-main__item--gradient .nav-sub__item:first-child .nav-sub__heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  text-transform: unset;
}
.nav-main__item--gradient .nav-sub__item:first-child .nav-sub__description {
  color: #fff;
  margin-bottom: 16px;
}
.nav-main__item--gradient .nav-sub__item:first-child .nav-sub__btn {
  margin-top: 4px;
  background-color: #fff;
  color: #335eea;
}
.nav-main__item--gradient .nav-sub__item:first-child .nav-sub__btn:hover {
  transform: unset;
}
.nav-main__item--multi .nav-sub {
  flex-direction: column;
  padding: 2rem 0;
}
.nav-main__item--multi .nav-sub__item {
  position: relative;
  padding: 0 2rem;
}
.nav-main__item--multi .nav-sub__item ul {
  display: none;
}
.nav-main__item--multi .nav-sub__item:hover ul {
  display: block;
  position: absolute;
  top: -75%;
  left: 100%;
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1);
}
.nav-main__item--multi .nav-sub__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 400;
  color: #506690;
  gap: 12px;
  text-transform: capitalize;
  white-space: nowrap;
  cursor: pointer;
}
.nav-main__item--iconic .nav-sub {
  flex-direction: column;
}
.nav-main__item--iconic .nav-sub svg {
  width: 40px;
}
.nav-main__item--iconic .nav-sub__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 2.4rem 2.8rem;
  border-bottom: 1px solid #c6d3e6;
  cursor: pointer;
}
.nav-main__item--iconic .nav-sub__item:last-child {
  border: 0;
}
.nav-main__item--iconic .nav-sub__item span {
  font-size: 1.125rem;
  font-weight: 600;
  color: #335eea;
  background-color: #c6d3e6;
  padding: 4px 8px;
  border-radius: 12px;
  height: fit-content;
  margin-left: auto;
}
.nav-sub__item {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0;
  right: 50%;
  background-color: #fff;
  padding: 4rem;
}
.nav-sub__heading {
  font-size: 1.2rem;
  font-weight: 400;
  color: #335eea;
  margin-bottom: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
}
.nav-sub .nav-sub__item ul {
  margin-bottom: 1.2rem;
}
.nav-sub ul li {
  font-size: 1.6rem;
  font-weight: 400;
  color: #506690;
  margin-bottom: 1rem;
  white-space: nowrap;
  cursor: pointer;
}
.nav-sub ul li:hover {
  color: #335eea;
}
.nav-sub__description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #506690;
  white-space: nowrap;
}

.main__heading {
  font-size: 4.8rem;
  font-weight: 400;
  color: #161c2d;
  margin-bottom: 3.2rem;
}
.main__heading span {
  color: #335eea;
}
.main__description {
  font-size: 2rem;
  font-weight: 400;
  color: #869ab8;
  margin-bottom: 4.8rem;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section__heading {
  font-size: 3.2rem;
  font-weight: 400;
  color: #161c2d;
  margin-bottom: 2.4rem;
}
.section__heading span {
  color: #335eea;
}
.section__heading--medium {
  font-size: 3.8rem;
}
.section__heading--large {
  font-size: 4.4rem;
  color: #fff;
}
.section__description {
  font-size: 2rem;
  font-weight: 400;
  color: #869ab8;
  margin-bottom: 4rem;
}
.section__btn .btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.section__btn .btn ion-icon {
  font-size: 1.7rem;
}
.section__btn .btn:last-child {
  background-color: #c6d3e6;
  font-size: 1.6rem;
  color: #335eea;
  margin-left: 4px;
  box-shadow: #000 0 0 0 0;
}
.section__img {
  width: 100%;
  border-radius: 6px;
}
.section__img--large {
  width: 125%;
}
.section__img--skew {
  transform: rotateY(-35deg) rotateX(15deg);
  box-shadow: 25px 60px 125px -25px rgba(80, 102, 144, 0.1), 16px 40px 75px -40px rgba(0, 0, 0, 0.2);
}
.section > .col--2 {
  padding: 10rem 0 0;
}
.section > .col--3 {
  align-self: flex-start;
  margin: 10rem 0 6.4rem;
}
.section > .col--3 svg {
  width: 4.8rem;
  margin-bottom: 2rem;
}
.section .col--6 {
  padding: 5.2rem 0;
}
.section .col--6 svg {
  width: 13rem;
  text-align: center;
  color: #869ab8;
}
.section-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 3.2rem;
}
.section-list.col--3 {
  flex-direction: column;
}
.section-list svg {
  width: 4.8rem;
}
.section-list__heading {
  font-size: 2rem;
  font-weight: 400;
  color: #161c2d;
}
.section-list__description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #869ab8;
}
.section-list__item {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 2.8rem;
}
.section-list__item span {
  font-size: 1.7rem;
  font-weight: 400;
  color: #42ba96;
}
.section-list__item-heading {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
}
.section-list__item-description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #869ab8;
}
.section-list__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.section .col--1 {
  text-align: center;
  max-width: 694px;
  width: 100%;
  margin: 0 auto;
}
.section-slider .col--1 {
  max-width: 1040px;
}
.section--started .badge {
  display: inline-block;
  background-color: #203055;
  color: #495e88;
  margin-bottom: 2.8rem;
}
.section--started .btn {
  background-color: #42ba96;
}
.section--started .btn:hover {
  box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
}
.section--services {
  position: relative;
}
.section--services .col--2 {
  position: absolute;
}
.section--services .col--2:first-child {
  padding-top: 0;
  margin-top: 10rem;
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.2);
  z-index: 2;
}
.section--services .col--2:last-child {
  right: 0;
  z-index: 1;
}

.curve-bg-top {
  display: flex;
  position: relative;
  padding: 10rem 0;
}
.curve-bg-top::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: #f1f4f8;
  border: solid 5px #000;
  border-color: transparent;
  border-radius: 100% 0% 50% 50%/0% 31% 69% 100%;
}

.curve-bg-bottom {
  display: flex;
  position: relative;
  padding: 4rem 0;
}
.curve-bg-bottom::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: #1b2a4e;
  border: solid 5px #000;
  border-color: transparent;
  border-radius: 100% 0% 50% 50%/0% 31% 69% 100%;
}

.curve-grey-bg-bottom {
  display: flex;
  position: relative;
  padding: 10rem 0;
}
.curve-grey-bg-bottom::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 252px;
  background-color: #fafcfd;
  border-radius: 100% 0% 100% 0%/0% 0% 100% 100%;
}

.footer {
  display: flex;
  position: relative;
  padding: 15rem 0 6rem;
}
.footer .contact__logo {
  font-size: 1.8rem;
  font-weight: 400;
  color: #506690;
}
.footer .contact__description {
  font-size: 1.8rem;
  font-weight: 400;
  color: #506690;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}
.footer-list__heading {
  font-size: 1.2rem;
  font-weight: 600;
  color: #506690;
  margin-bottom: 2rem;
}
.footer-list__item {
  margin-bottom: 2rem;
}
.footer-list__link {
  font-size: 1.7rem;
  font-weight: 400;
  color: #869ab8;
  opacity: 0.7;
}
.footer-list__link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 992px) {
  .header .nav {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
    transform-origin: 100% 0;
  }
  .header .nav.expand {
    visibility: visible;
    opacity: 1;
  }
  .header__btn {
    visibility: hidden;
    opacity: 0;
  }
  .header ion-icon {
    display: inline-block;
  }
}

@media only screen and (max-width: 992px) {
  .nav {
    position: absolute;
    top: 1rem;
    right: 1rem;
    left: 1rem;
    width: calc(100% - 4rem);
    z-index: 1;
  }
  .nav-main {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1);
    height: 100vh;
    overflow-y: scroll;
  }
  .nav-main__item {
    width: 100%;
    border-bottom: 1px solid #c6d3e6;
    margin-bottom: 1.2rem;
  }
  .nav-main__item-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
  }
  .nav-main__item .icon {
    font-size: 2.4rem;
  }
  .nav-main__btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: -1.2rem;
    border-radius: 0;
  }
  .nav-sub {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    padding: 0 1rem;
    box-shadow: unset;
    flex-wrap: wrap;
  }
  .nav-main__item--gradient .nav-sub__item:first-child {
    display: none;
  }
  .nav-main__item:first-child:hover > .nav-sub, .nav-main__item:nth-child(2):hover > .nav-sub, .nav-main__item:nth-child(3):hover > .nav-sub, .nav-main__item:nth-child(4):hover > .nav-sub {
    position: relative;
    inset: initial;
    width: 100%;
    animation: initial;
    box-shadow: initial;
  }
  .nav-sub__item {
    flex-grow: 1;
    padding: 0;
  }
  .nav-sub__item.tb-col--2 {
    width: 50%;
  }
  .nav-main__item--multi .nav-sub__item:hover ul {
    display: none;
  }
  .nav-main__item--multi .nav-sub__item > ul.expand {
    position: relative;
    display: block;
    top: 100%;
    left: 0;
    padding: 1rem;
    box-shadow: initial;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 992px) {
  .main__heading {
    font-size: 3.6rem;
  }
}

@media only screen and (max-width: 992px) {
  .section__heading {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 992px) {
  .slider-content__message {
    margin-top: 1.2rem;
  }
  .slider-direction {
    top: 15rem;
  }
}
@media only screen and (max-width: 480px) {
  .section.mb-col--1 {
    flex-direction: column;
  }
  .section.mb-col--1 .col--2 {
    width: 100%;
    padding: 0;
  }
  .section.mb-col--1 .col--3 {
    width: 100%;
    padding: 0;
    margin: 0 0 3.2rem;
  }
  .section.mb-col--1__img--large {
    width: 100%;
  }
  .section.mb-col--2 {
    flex-wrap: wrap;
  }
  .section.mb-col--2 .col--6 {
    width: 50%;
  }
  .section-list.mb-col--1 {
    flex-direction: column;
  }
  .section-list.mb-col--1 .col--2 {
    width: 100%;
    padding: 0;
  }
  .section-list.mb-col--1 .col--2:last-child {
    margin-bottom: -2rem;
  }
  .section--services .col--2:first-child {
    bottom: 100%;
  }
  .card-services__list {
    padding: 0;
  }
  .card-services .card-services__description {
    margin: 4rem 0;
  }
  .card-services--enable div {
    padding: 2rem;
  }
  .slider {
    flex-direction: column;
  }
  .slider-img-wrapper {
    width: 100%;
    border-radius: 0;
  }
  .slider-img {
    border-radius: 0;
  }
  .slider-content__message {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .slider-content__author {
    margin-bottom: 2rem;
  }
  .slider-direction {
    top: 75%;
  }
  .footer.mb-col--2 {
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-bottom: 0;
  }
  .footer.mb-col--2 .col--5 {
    width: 50%;
    display: inline;
    margin-bottom: 3.2rem;
  }
  .footer.mb-col--2 .col--5:first-child {
    width: 100%;
  }
  .mb-flex-col-reverse.mb-col--1 {
    flex-direction: column-reverse;
  }
  .mb-pb-40 {
    padding-bottom: 40rem;
  }
  .mb-pt-50 {
    padding-top: 50rem;
  }
}
@keyframes floatUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fly-up {
  transform: translateY(50%);
  position: relative;
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}
.fly-up.active {
  transform: translate(0, 0);
  opacity: 1;
}

.fly-left {
  transform: translateX(-50%);
  position: relative;
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}
.fly-left.active {
  transform: translate(0, 0);
  opacity: 1;
}

.fly-right {
  transform: translateX(50%);
  position: relative;
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}
.fly-right.active {
  transform: translate(0, 0);
  opacity: 1;
}

/*# sourceMappingURL=app.css.map */
